<!doctype html>
<html lang="pl">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>Moja pierwsza strona</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
    </head>
    <body>
        <h2 class="first">Witaj na mojej stronie domowej</h2><br>
        <img src="{{url_for('static',filename='slowacki_juliusz.jpg')}}" 
        alt="Zdjęcie Juliusza Słowackiego" title="J. Słowacki"><br>/>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>